body{
	background-color:green;
	color:black;
}
h1{
	color:white;
	text-align:center;
}
table{
	margin:0px auto;
	background-color:#99FF00;
	padding:20px;
	width:80%;
	border-spacing:5px;
	border:3px solid #09900;
	border-radius:20px;
	box-shadow:10px 10px 5px #005000;
}
td{
	border:1px solid green;
	text-align:right;
	box-shadow:5px 5px 4px #90A04E;
}
#bukas{
	background-color:#FFA04E;
	text-align:center;
	box-shadow:5px 5px 4px #AAFFAA;
}
#atlag{
	color:blue;
	background-color:#99FF00;
	text-align:center;
	box-shadow:5px 5px 4px #AAFFAA;
}